---
import "@astrojs/starlight/style/markdown.css";
import { Code } from '@astrojs/starlight/components';
import { Image } from 'astro:assets';
import { extractLines, removeLeadingSpaces } from '../utils/utils.ts';

interface Props {
    codeContent: string;
    codeLang: string;
    imageSrc: string;
    imageAlt: string;
    lines?: [number, number];
    removeSpaces?: number;
    meta?: string;
}
const { codeContent, imageSrc, imageAlt, codeLang, lines, removeSpaces, meta } = Astro.props as Props;

let refinedCode = lines ? extractLines(codeContent, lines[0], lines[1]) : codeContent;

if (removeLeadingSpaces) {
    refinedCode = removeLeadingSpaces(refinedCode, removeSpaces);
}

if (!codeContent) {
    console.error("No code content provided!");
}

if (!imageSrc) {
    console.error("No image source provided!");
}
---

<div class="code-image-container">
    <div class="code-block">
        <Code code={refinedCode} lang={codeLang} meta={meta}/>
    </div>
    <div class="image-block">
        <Image src={imageSrc} alt={imageAlt} width={100} height={100} />
    </div>
</div>

<style>
    .code-image-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .code-block {
        width: 80%; /* Reduced from 300px to accommodate the gap */
        overflow-x: auto;
    }
    .image-block {
        width: 100px;
        display: flex;
        align-items: center;
        margin-left: 20px; /* This creates the 20px space between code and image */
    }
    .image-block img {
        width: 100%;
        height: auto;
    }
</style>